<a href="https://colab.research.google.com/github/somezzedup/Micro-Credential-Winter-2022/blob/main/Day_5_Intros_to_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import numpy as np
import pandas as pd
from numpy.random import randn
np.random.seed(42)

In [3]:
labels = ['a', 'b','c', 'd']
my_data = [10, 20, 30, 40]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30, 'd':40}

In [4]:
d

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [5]:
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
d    40
dtype: int64

In [9]:
#create a series of ten cities and years
labels = ['NYC', 'Orlando','Dhaka', 'Tokyo','Dubai',
          'Sydney','London','Mumbai','San Francisco','Bejing']
my_data = [1999, 2001, 2002, 2003,2004,
           2005,2006,2007,2008,2009]
pd.Series(data=my_data, index=labels)

NYC              1999
Orlando          2001
Dhaka            2002
Tokyo            2003
Dubai            2004
Sydney           2005
London           2006
Mumbai           2007
San Francisco    2008
Bejing           2009
dtype: int64

#Data Frames

In [10]:
data = pd.DataFrame(randn(5,4),['A','B','C','D','E'],
                                ['W','X','Y','Z'])

In [11]:
#creating a table
data

          W         X         Y         Z
A  0.496714 -0.138264  0.647689  1.523030
B -0.234153 -0.234137  1.579213  0.767435
C -0.469474  0.542560 -0.463418 -0.465730
D  0.241962 -1.913280 -1.724918 -0.562288
E -1.012831  0.314247 -0.908024 -1.412304

In [18]:
df_1 = data['W']
df_2 = data['X']
df_3 = data['Y']
df_4 = data['Z']

In [19]:
df_1

A    0.496714
B   -0.234153
C   -0.469474
D    0.241962
E   -1.012831
Name: W, dtype: float64

In [20]:
df_2

A   -0.138264
B   -0.234137
C    0.542560
D   -1.913280
E    0.314247
Name: X, dtype: float64

In [21]:
df_3

A    0.647689
B    1.579213
C   -0.463418
D   -1.724918
E   -0.908024
Name: Y, dtype: float64

In [22]:
df_4

A    1.523030
B    0.767435
C   -0.465730
D   -0.562288
E   -1.412304
Name: Z, dtype: float64

In [23]:
#create new columns to our dataset
data['new'] =data['Y'] + data['W']

In [24]:
data

          W         X         Y         Z       new
A  0.496714 -0.138264  0.647689  1.523030  1.144403
B -0.234153 -0.234137  1.579213  0.767435  1.345059
C -0.469474  0.542560 -0.463418 -0.465730 -0.932892
D  0.241962 -1.913280 -1.724918 -0.562288 -1.482956
E -1.012831  0.314247 -0.908024 -1.412304 -1.920855

#Create new columns with the combination of 3 columns from our dataset

In [26]:
data['new'] =data['Y'] - data['W'] *data['Z']

In [27]:
data

          W         X         Y         Z       new
A  0.496714 -0.138264  0.647689  1.523030 -0.108822
B -0.234153 -0.234137  1.579213  0.767435  1.758910
C -0.469474  0.542560 -0.463418 -0.465730 -0.682066
D  0.241962 -1.913280 -1.724918 -0.562288 -1.588865
E -1.012831  0.314247 -0.908024 -1.412304 -2.338449