<a href="https://colab.research.google.com/github/somezzedup/Micro-Credential-Winter-2022/blob/main/Day_3_For_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#For Loops

In [2]:
for x in 'CUNY':
  print(x)

C
U
N
Y

In [3]:

TV_SHOWS=['Game of Thrones', 'Loki','The Mandalorian', 'Breaking Bad']
for i in TV_SHOWS:
  print(i)

Game of Thrones
Loki
The Mandalorian
Breaking Bad

In [4]:
#show variable only exist if loop is still active
for show in TV_SHOWS:
  print(show)

Game of Thrones
Loki
The Mandalorian
Breaking Bad

In [6]:
show

'Breaking Bad'

In [9]:
#build in method show.title() utilized in for loops
for show in TV_SHOWS:
  print(show.title() + ", is one of my favorite tv shows")

Game Of Thrones, is one of my favorite tv shows
Loki, is one of my favorite tv shows
The Mandalorian, is one of my favorite tv shows
Breaking Bad, is one of my favorite tv shows

In [10]:
for show in TV_SHOWS:
  print(show.upper() + ", is one of my favorite tv shows")

GAME OF THRONES, is one of my favorite tv shows
LOKI, is one of my favorite tv shows
THE MANDALORIAN, is one of my favorite tv shows
BREAKING BAD, is one of my favorite tv shows

In [12]:
TV_SHOWS.append('Money Heist')
TV_SHOWS.append('Kobra Kai')
TV_SHOWS.append('Squid Game')

In [13]:
print(TV_SHOWS)

['Game of Thrones', 'Loki', 'The Mandalorian', 'Breaking Bad', 'Money Heist', 'Money Heist', 'Kobra Kai', 'Squid Game']

In [16]:
for show in TV_SHOWS:
  print(show.title() + ", is one of my favorite tv shows\n I can't wait to watch " + show.upper() + " again \n")

Game Of Thrones, is one of my favorite tv shows
 I can't wait to watch GAME OF THRONES again

Loki, is one of my favorite tv shows
 I can't wait to watch LOKI again

The Mandalorian, is one of my favorite tv shows
 I can't wait to watch THE MANDALORIAN again

Breaking Bad, is one of my favorite tv shows
 I can't wait to watch BREAKING BAD again

Money Heist, is one of my favorite tv shows
 I can't wait to watch MONEY HEIST again

Money Heist, is one of my favorite tv shows
 I can't wait to watch MONEY HEIST again

Kobra Kai, is one of my favorite tv shows
 I can't wait to watch KOBRA KAI again

Squid Game, is one of my favorite tv shows
 I can't wait to watch SQUID GAME again

In [19]:
del TV_SHOWS[-3]

In [20]:
print(TV_SHOWS)

['Game of Thrones', 'Loki', 'The Mandalorian', 'Breaking Bad', 'Money Heist', 'Kobra Kai', 'Squid Game']

In [24]:
for x in range(1,10):
  print(x+2)

3
4
5
6
7
8
9
10
11

In [26]:
# list numbers from 1 to 9
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
# counts every 5 number 
list(range(1,21,5))

[1, 6, 11, 16]

In [33]:
17%2

1

In [34]:
18%7

4

In [41]:
l=[1,2,3,4,5,6,7,8,9,10,23,55,67,89,103,234,402,2320]

In [42]:
#prints out even number
for num in l:
  if num % 2 == 0:
    print(num)

2
4
6
8
10
234
402
2320

In [43]:
for x in l:
  if x % 2 == 0:
    print(x)

2
4
6
8
10
234
402
2320

In [48]:
#printing out odd number and utilizing else conditional statement
for x in l:
  if x % 2 == 1:
    print(x)
  else:
    print(x, "this is not a odd number")

1
2 this is not a odd number
3
4 this is not a odd number
5
6 this is not a odd number
7
8 this is not a odd number
9
10 this is not a odd number
23
55
67
89
103
234 this is not a odd number
402 this is not a odd number
2320 this is not a odd number

In [52]:
#key interview question
#add all the sums in a list

l2 = [12,45,55,88,103]

for num in l2:
  listSum = listSum + num
  
print(listSum)

3954

In [54]:
dy = {'k1': 1, 'k2': 2, 'k3': 3, 'k4': 4}

for item in dy:
  print(item)

k1
k2
k3
k4

In [57]:
for a,b in dy.items():
  print(a)
  print(b)

k1
1
k2
2
k3
3
k4
4